# include   <resource.h>

# define ICO_MAIN           100
# define IDC_MAIN           100
# define IDC_MOVE           101
# define IDB_BACK           100
# define IDB_PLANE          101



ICO_MAIN    ICON        "Main.ico"
IDC_MAIN    CURSOR      "Main.cur"
IDC_MOVE    CURSOR      "Move.cur"
IDB_BACK    BITMAP      "Back1.bmp"
IDB_PLANE   BITMAP      "Plane.bmp"
